@model List<Employee>
@{
    ViewData["Title"] = "Employee List";
}

<div class="text-center">
    <h1 class="display-4">Employee List</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Name</td>
                <td>@item.Position</td>
                <td>@item.Department</td>
                <td>@item.Salary</td>
            </tr>
        }
    </tbody>
</table>